/* variables */
:root {
  --primary-color: #931420;
  --accent-color: #f6bb73;
  --light-accent: #fffded;
  --light: white;
  --dark: black;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the default styles for the elements */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 80%;
  margin: auto;
  border: 3px solid var(--primary-color);
}

header, section, aside, footer {
  padding: 1em;
}

h1, h2, h3, p, article, blockquote {
  padding-bottom: .5em;
}

ul {
  margin-left: 1em;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

a:focus, a:hover {
  font-style: italic;
}

/* the styles for the header */
header {
  border-bottom: 3px solid var(--primary-color);
  background-image: linear-gradient(30deg, var(--accent-color) 0%, var(--light-accent) 25%, var(--light) 50%, var(--light-accent) 75%, var(--accent-color) 100%);
  text-align: center;
}

header h2 {
  font-size: 175%;
  color: var(--primary-color);
  padding-bottom: 0;
}

header h3 {
  font-size: 130%;
  font-style: italic;
}

header img {
  float: left;
  margin: 0 30px;
  width: clamp(40px, 15%, 66px);
}

/* the styles for the main element */
main {
  clear: left;
  display: flex;
  flex-direction: column;
}

/* the styles for the section */
section h1 {
  color: var(--primary-color);
}

/* the styles for the article */
article {
  padding-top: .5em;
  margin-bottom: .5em;
}

article img {
  float: left;
  margin: .25em 1em 1em 0;
  border: 1px solid var(--dark);
  width: min(100%, 225px);
}

/* the styles for the aside */
aside h2 {
  color: var(--primary-color);
}

aside img {
  margin-bottom: .9em;
}

aside blockquote {
  font-style: italic;
  margin-left: .5em;
}

/* the styles for the footer */
footer {
  background-color: var(--primary-color);
}

footer p {
  text-align: center;
  color: white;
  padding-bottom: 0;
}

/* the styles for the navigation menu */
.navbar {
  background-color: var(--primary-color);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
}

.navbar a {
  display: block;
  padding: .75em;
  text-decoration: none;
  color: var(--light);
}

.navbar a.current {
  color: var(--accent-color);
  font-weight: bold;
}

.navbar a.current:hover {
  font-style: normal; /* override hover effect */
}

#menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  font-size: 2em;
  color: var(--light);
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
}

.menu-btn::before {
  content: "☰";
}

.menu {
  display: none;
}

.menu li:has(.submenu) {
  position: relative;
}

.menu li:has(.submenu) small {
  margin-left: .25em; /* add space for arrow */
}

.submenu {
  background-color: var(--primary-color);
  display: none;
  z-index: 1000;
}

/* media query for small screens */
@media only screen and (max-width: 749px) {
  .menu-btn {
    display: block;
  }

  #menu-toggle:checked ~ .menu-btn::before {
    content: "✕";
  }

  #menu-toggle:checked ~ .menu {
    display: block;
  }

  .menu {
    flex-direction: column;
  }

  .menu li:has(.submenu) > a::after {
    content: " ▸";
    float: right;
  }

  .submenu {
    position: static;
    width: 100%;
  }

  .menu li:has(.submenu):hover > .submenu {
    display: block;
  }
}

/* media query for larger screens */
@media only screen and (min-width: 750px) {
  header {
    text-align: left;
  }

  main {
    flex-direction: row;
  }

  section {
    order: 2;
    flex-basis: 75%;
  }

  aside {
    order: 1;
    flex-basis: 25%;
  }

  .menu-btn, #menu-toggle {
    display: none;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .submenu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 175%;
  }

  .menu li:has(.submenu):hover > .submenu {
    display: block;
  }

  .menu li:has(.submenu) > a::after {
    content: " ▾";
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
  }
}