:root {
    --primary-color: #931420;
    --accent-color: #f6bb73;
    --light-accent: #fffded;
    --light: white;
    --dark: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border: 3px solid var(--primary-color);
}

header, section, aside, footer { padding: 1em; }
h1, h2, h3, p, article { padding-bottom: .5em; }
h1 { font-size: 150%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:focus, a:hover { font-style: italic; }

header {
    border-bottom: 3px solid var(--primary-color);
    background-image: linear-gradient(30deg, var(--accent-color) 0%, var(--light-accent) 25%, var(--light) 50%, var(--light-accent) 75%, var(--accent-color) 100%);
}

header h2 {
    font-size: 175%;
    color: var(--primary-color);
    padding-bottom: 0;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

header img {
    float: left;
    margin: 0 30px 0 0;
}

main {
    display: flex;
    flex-direction: row-reverse;
    gap: 2em;
    clear: left;
}

section {
    flex: 2.2;
}

section h1 {
    color: var(--primary-color);
}

article img {
    float: left;
    margin: 0 1em 1em 0;
    max-width: 100%;
    height: auto;
    border: 1px solid var(--dark);
}

aside {
    flex: 0.8;
}

aside h2 {
    color: var(--primary-color);
}

aside img {
    margin-bottom: .9em;
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    background-color: var(--primary-color);
}

footer p {
    text-align: center;
    color: white;
    padding-bottom: 0;
}
