/* VARIABLES */
:root{
    --primary:#931420;
    --accent:#f6bb73;
    --light-accent:#fffded;
    --light:white;
    --dark:black;
}

/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:80%;
    margin:auto;
    font-family:Arial, Helvetica, sans-serif;
    border:3px solid var(--primary);
}

/* HEADER */
header{
    border-bottom:3px solid var(--primary);
    padding:1em;
    background:linear-gradient(30deg,
        var(--accent) 0%,
        var(--light-accent) 25%,
        var(--light) 50%,
        var(--light-accent) 75%,
        var(--accent) 100%);
}

header img{
    float:left;
    margin-right:1em;
    width:66px;
}

header h2{
    font-size:175%;
    color:var(--primary);
}

header h3{
    font-size:130%;
    font-style:italic;
}

/* GRID LAYOUT */
.grid{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    gap:1em;
    padding:1em;
}

/* LEFT ASIDE (4 columns) */
.left{
    grid-column: 1 / span 3;
}

/* MIDDLE SECTION (6 columns) */
.middle{
    grid-column: 4 / span 6;
}

/* RIGHT ASIDE (3 columns) */
.right{
    grid-column: 10 / span 3;
}

/* CONTENT STYLES */
aside h2, section h2{
    color:var(--primary);
}

article img{
    float:right;
    width:225px;
    margin-left:1em;
    border:1px solid var(--dark);
}

/* FOOTER */
footer{
    background:var(--primary);
    padding:1em;
}

footer p{
    text-align:center;
    color:white;
}
