/* variables */
:root {
	--primary-color: #931420;
	--accent-color: #f6bb73;
	--light-accent: #fffded;
	--light: white;
	--dark: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 80%;
    margin: auto;
    border: 3px solid var(--primary-color);
}

header, section, aside, footer { padding: 1em; }
h1, h2, h3, p, article, blockquote { padding-bottom: .5em; }

h1 {
	font-size: 150%; 
	font-family: "InkFree", cursive;
}

h2 { font-size: 120%; }
h3 { font-size: 110%; }
a:focus, a:hover { font-style: italic; }
ul { list-style-type: none; }
li { padding-bottom: .75em; }

/* header */
header {
	border-bottom: 3px solid var(--primary-color);
	background-image: linear-gradient(30deg, 
		var(--accent-color) 0%, 
		var(--light-accent) 25%, 
		var(--light) 50%, 
		var(--light-accent) 75%, 
		var(--accent-color) 100%);
}

header h2 {
	font-size: 175%;
	color: var(--primary-color);
	padding-bottom: 0;
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

header img {
	float: left;
	margin: 0 30px;
	width: clamp(40px, 15%, 66px);
}

/* main */
main {
	clear: left;
	display: flex;
}

/* section */
section {
	flex-basis: 75%;
}

section h1 {
	padding-top: .5em;
}

section h2 {
	color: var(--primary-color);
}

section blockquote {
	font-style: italic;
	margin-left: 2em;
}

/* article */
article {
	border-top: 3px solid var(--primary-color);
	padding-top: .5em;
	margin-bottom: .5em;
}

/* NEW figure styles */
.speaker-figure {
	float: left;
	margin: .25em 1em 1em 0;
	max-width: 225px;
}

.speaker-figure img {
	width: 100%;
	border: 1px solid var(--dark);
}

.speaker-figure figcaption {
	font-size: .9em;
	font-style: italic;
	margin-bottom: .5em;
	text-align: center;
}

/* aside */
aside {
	flex-basis: 25%;
}

aside h2 {
	color: var(--primary-color);
}

aside img {
	margin-bottom: .9em;
}

/* Contact icons */
section ul li i {
	color: var(--primary-color);
	margin-right: 8px;
}

/* link color mix */
main a {
	color: color-mix(in srgb, var(--accent-color) 65%, var(--primary-color) 35%);
}

/* footer */
footer {
	background-color: var(--primary-color);
}

footer p {
	text-align: center;
	color: white;
	padding-bottom: 0;
}

/* FONT FACE */
@font-face {
    font-family: "InkFree";
    src: url("../fonts/Inkfree.ttf") format("truetype");
}
